@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.header {
    position: fixed;
    transform: translate(-50%, -50%);
    display: block;
    color: #cf1b1b;
    font-size: 30px;
    cursor: pointer;
    left: 50%;
    top: 5%;
}

