.box {
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    background-color: #2196F3;
    box-shadow: 4px 4px #999;
    color: black;
}

.wait {
    cursor: wait
}

.box:hover {
    background-color: #0e66ad;
}

.box:active {
    transform: translateY(4px);
    box-shadow: 4px 5px #666;
  }